* { text-align: center; font-family:Helvetica;}

.header {color:white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
h1 .header { font-sizeL70px;
  font-weight: bold;
}
p .header {

  font-size:18px;
}
p .body { font-size: 14px;
}

h5 {font-size: 23px; font-weight: bold; color: white; background-image:url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.bottom {
  font-size: 11px; color: white;
  background-color:dimgray;
}
